.tmenu ul { 
border:0; 
border-bottom:1px solid #000000; 
background:#2D2D2D; 
font-weight:normal; 
font-size:10pt; 
font-family:Arial; 
height:30px; 
line-height:30px; 
margin:0; 
padding:0; 
padding-left:13px; 
overflow:hidden; 
} 
.tmenu li { 
list-style-type:none; 
float:left; 
} 
.tmenu a { 
padding:6px; 
padding-bottom:7px; 
color:#CCCCCC; 
text-decoration:none; 
} 
.tmenu a:hover { 
padding:6px; 
color:#FFFFFF; 
padding-top:7px; 
padding-bottom:8px; 
text-decoration:none; 
background:#4C4C4C 
} 

.tmenu a.active { 
border-top:2px solid #DD4B39; 
padding:6px; 
padding-top:5px; 
padding-bottom:7px; 
color:#FFFFFF; 
font-weight:bold; 
text-decoration:none; 
} 
.tmenu a.active:hover { 
border-top:2px solid #DD4B39; 
padding:6px; 
padding-top:5px; 
padding-bottom:7px; 
color:#FFFFFF; 
border-top:3px solid #DD4B39; 
text-decoration:none; 
background:#4C4C4C 
}